@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Palette One */
  --intro-bg-color: #1E1E1E;
  --intro-text-color: #ECECEC;
  --intro-highlight-color: #FF6F00;

  /* Palette Two (Simplified and balanced) */
  --skills-bg-color: #FF7043;
  --skills-text-color: #2C2C2C;
  --skills-highlight-color: #FFA07A;

  /* Palette Three */
  --design-bg-color: #39FF14;
  --design-text-color: #101010;
  --design-highlight-color: #FF9500;

  /* Palette Four (Blossom theme with a white contrast) */
  --dev-bg-color: #5A3D5C;
  --dev-text-color: #e2d3d6;
  --dev-highlight-color: #FFC0CB;

  /* Secondary background color */
  --sec-bg-color: #b8b7b7;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
}

.quote-text {
  line-height: 0;
  text-align: center;

  &:nth-of-type(4) {
    font-weight: bolder;
    color: var(--design-highlight-color);
  }
}

body {
  height: 100vh;
  width: 100vw;
  border: 1px solid black;
  position: relative;
}

.colorMode-section {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  display: flex;
  flex-direction: column;
  align-items: end;
  z-index: 50;
  padding: 2% 5px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #e6e6e2;
}

.colorMode {
  width: clamp(50px, 10vw, 100px);
  height: clamp(50px, 10vw, 100px);
  font-size: clamp(10px, 2vw, 20px);
  border-radius: 50%;
  align-content: center;
  padding: 0 2px;
  font-weight: bolder;
  position: relative;
}

.colorModeStick {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: -20%;
  transform: translate(0, -50%);
  background-color: inherit;
}

.colorModeConvertor{
  width: 30%;
  height: 100%;
  border-radius: 50%;
  background-color: inherit;
}

.cards-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--theme-1-section-1-bg);
}

.card-default {
  height: 80vh;
  width: 70%;
  max-width: 700px;
  border-radius: 20px;
  background-color: var(--theme-1-section-1-highlight);
}